In [66]:
!pip install pandasql #to install the pandassql package

Requirement already satisfied: pandasql in /usr/local/lib/python3.10/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.36)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2024.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)

In [67]:
#the packages that needs to be imported in my workbook
import numpy as np
import pandas as pd
import pandasql as ps

In [81]:
#the path of the file to be read in addition to the first 5 rows of the data and its shape
from google.colab import drive
drive.mount('/content/drive')
df =  pd.read_excel('/content/drive/MyDrive/Telco Data.xlsx')
telco_data = pd.read_excel('/content/drive/MyDrive/Telco Data.xlsx', sheet_name='Telco Data')
display(df.head())
print('Shape:',df.shape)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,CustomerID,Country Code,City Code,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service and Information,Multiple Lines,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,3,13,male,No,No,No,2,"Yes, +96598533916",No,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,2,f,No,No,Yes,2,"Yes, +961 848715",No,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,5,19,female,No,No,Yes,8,"Yes, +966161584432",Yes,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,1,f,No,Yes,Yes,28,"Yes, +961 977226",Yes,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,4,18,m,No,No,Yes,49,"Yes, +971435222994",Yes,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

Shape: (7043, 27)

In [107]:
telco_data = pd.read_excel('/content/drive/MyDrive/Telco Data.xlsx', sheet_name='Telco Data')
display(telco_data.head())

print('Shape:',telco_data.shape)

,CustomerID,Country Code,City Code,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service and Information,Multiple Lines,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,3,13,male,No,No,No,2,"Yes, +96598533916",No,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,2,f,No,No,Yes,2,"Yes, +961 848715",No,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,5,19,female,No,No,Yes,8,"Yes, +966161584432",Yes,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,1,f,No,Yes,Yes,28,"Yes, +961 977226",Yes,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,4,18,m,No,No,Yes,49,"Yes, +971435222994",Yes,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

Shape: (7043, 27)

In [108]:
code_data = pd.read_excel('/content/drive/MyDrive/Telco Data.xlsx', sheet_name='Code Mapping')
display(code_data.head())

print('Shape:',code_data.shape)

   Country Code  Country  City Code     City
0             1  Lebanon          1   Beirut
1             1  Lebanon          2  Tripoli
2             1  Lebanon          3    Sidon
3             1  Lebanon          4   Byblos
4             1  Lebanon          5    Zahle

Shape: (23, 4)

In [109]:
#rename the columns header
code_data.rename(columns={'Country Code': 'CountryCode', 'City Code': 'CityCode' }, inplace=True)
telco_data.rename(columns={'Country Code': 'CountryCode', 'City Code': 'CityCode'}, inplace=True)

In [110]:
#Checking the names of the columns
print("Telco Data columns after renaming:", telco_data.columns)
print("Code Data columns:", code_data.columns)

Telco Data columns after renaming: Index(['CustomerID', 'CountryCode', 'CityCode', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months',
       'Phone Service and Information', 'Multiple Lines', 'Internet Service',
       'Online Security', 'Online Backup', 'Device Protection', 'Tech Support',
       'Streaming TV', 'Streaming Movies', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charges', 'Total Charges', 'Churn Label',
       'Churn Value', 'Churn Score', 'CLTV', 'Churn Reason'],
      dtype='object')
Code Data columns: Index(['CountryCode', 'Country', 'CityCode', 'City'], dtype='object')

##Section 2. 4

####1st requirement to include the country and city name in one data frame in Section 2

In [111]:
# Selecting the required columns from the code mapping sheet and joining on the country code and city code
query1 = """
SELECT td.*, cd.City AS CityName, cd.Country AS CountryName
FROM telco_data AS td
LEFT JOIN code_data AS cd
ON td.CountryCode = cd.CountryCode AND td.CityCode = cd.CityCode
"""

In [112]:
# Execute the query
merged_data = ps.sqldf(query1, locals())

# Display the updated DataFrame
print(merged_data.head())
print('Shape:',merged_data.shape)

   CustomerID  CountryCode  CityCode  Gender Senior Citizen Partner  \
0  3668-QPYBK            3        13    male             No      No
1  9237-HQITU            1         2       f             No      No
2  9305-CDSKC            5        19  female             No      No
3  7892-POOKP            1         1       f             No     Yes
4  0280-XJGEX            4        18       m             No      No

  Dependents  Tenure Months Phone Service and Information Multiple Lines  ...  \
0         No              2             Yes, +96598533916             No  ...
1        Yes              2              Yes, +961 848715             No  ...
2        Yes              8            Yes, +966161584432            Yes  ...
3        Yes             28              Yes, +961 977226            Yes  ...
4        Yes             49            Yes, +971435222994            Yes  ...

              Payment Method Monthly Charges Total Charges Churn Label  \
0               Mailed check           53.85        108.15         Yes
1           Electronic check           70.70        151.65         Yes
2           Electronic check           99.65         820.5         Yes
3           Electronic check          104.80       3046.05         Yes
4  Bank transfer (automatic)          103.70        5036.3         Yes

  Churn Value Churn Score  CLTV                   Churn Reason  CityName  \
0           1          86  3239   Competitor made better offer  Fahaheel
1           1          67  2701                          Moved   Tripoli
2           1          86  5372                          Moved    Riyadh
3           1          84  5003                          Moved    Beirut
4           1          89  5340  Competitor had better devices     Ajman

  CountryName
0      Kuwait
1     Lebanon
2         KSA
3     Lebanon
4         UAE

[5 rows x 29 columns]
Shape: (7043, 29)

#### 2nd requirementin Section 2: Standardizing the data in the column

In [113]:
#naming the standardized gender column with GenderStand
query2 = """
SELECT *,
    CASE
        WHEN Gender IN ('male', 'm', 'Male') THEN 'Male'
        WHEN Gender IN ('female', 'f', 'Female') THEN 'Female'
        ELSE NULL
    END AS GenderStand
FROM merged_data
"""

# Execute the query
merged_data = ps.sqldf(query2, locals())

# Display the updated DataFrame
print(merged_data.head())

   CustomerID  CountryCode  CityCode  Gender Senior Citizen Partner  \
0  3668-QPYBK            3        13    male             No      No
1  9237-HQITU            1         2       f             No      No
2  9305-CDSKC            5        19  female             No      No
3  7892-POOKP            1         1       f             No     Yes
4  0280-XJGEX            4        18       m             No      No

  Dependents  Tenure Months Phone Service and Information Multiple Lines  ...  \
0         No              2             Yes, +96598533916             No  ...
1        Yes              2              Yes, +961 848715             No  ...
2        Yes              8            Yes, +966161584432            Yes  ...
3        Yes             28              Yes, +961 977226            Yes  ...
4        Yes             49            Yes, +971435222994            Yes  ...

  Monthly Charges Total Charges Churn Label Churn Value Churn Score  CLTV  \
0           53.85        108.15         Yes           1          86  3239
1           70.70        151.65         Yes           1          67  2701
2           99.65         820.5         Yes           1          86  5372
3          104.80       3046.05         Yes           1          84  5003
4          103.70        5036.3         Yes           1          89  5340

                    Churn Reason  CityName CountryName GenderStand
0   Competitor made better offer  Fahaheel      Kuwait        Male
1                          Moved   Tripoli     Lebanon      Female
2                          Moved    Riyadh         KSA      Female
3                          Moved    Beirut     Lebanon      Female
4  Competitor had better devices     Ajman         UAE        Male

[5 rows x 30 columns]

#### 3rd requirement in Section 2 of splitting the column named Phone Service and Information into two columns

In [114]:
#The columns Phone Service and Information was split into two columns named Registration_Status and Phone_Number
#The INSTR was used to search in the Phone Service and Information column for the values Yes and No then it will return the corresponding status
#If Yes exists in the column Phone Service and Information then it extracts the phone number that follows the comma and removes any extra spaces using trim.
#INSTR("Phone Service and Information", ',') + 1 finds the comman in the substring and calculates the position to start with in the substring which is after the ','
#SUBSTR extarcts everything from that position and trim to remove any leading or trailing whitespace from the extracted substring
query3 = """
SELECT
    *,
    CASE
        WHEN INSTR("Phone Service and Information", 'Yes') > 0 THEN 'Yes'
        WHEN INSTR("Phone Service and Information", 'No') > 0 THEN 'No'
        ELSE NULL
    END AS Registration_Status,
    CASE
        WHEN INSTR("Phone Service and Information", 'Yes') > 0 THEN TRIM(SUBSTR("Phone Service and Information", INSTR("Phone Service and Information", ',') + 1))
        ELSE NULL
    END AS Phone_Number
FROM merged_data
"""

# Execute the query
merged_data = ps.sqldf(query3, locals())

# Display the updated DataFrame
print(merged_data.head())

   CustomerID  CountryCode  CityCode  Gender Senior Citizen Partner  \
0  3668-QPYBK            3        13    male             No      No
1  9237-HQITU            1         2       f             No      No
2  9305-CDSKC            5        19  female             No      No
3  7892-POOKP            1         1       f             No     Yes
4  0280-XJGEX            4        18       m             No      No

  Dependents  Tenure Months Phone Service and Information Multiple Lines  ...  \
0         No              2             Yes, +96598533916             No  ...
1        Yes              2              Yes, +961 848715             No  ...
2        Yes              8            Yes, +966161584432            Yes  ...
3        Yes             28              Yes, +961 977226            Yes  ...
4        Yes             49            Yes, +971435222994            Yes  ...

  Churn Label Churn Value Churn Score  CLTV                   Churn Reason  \
0         Yes           1          86  3239   Competitor made better offer
1         Yes           1          67  2701                          Moved
2         Yes           1          86  5372                          Moved
3         Yes           1          84  5003                          Moved
4         Yes           1          89  5340  Competitor had better devices

   CityName CountryName GenderStand Registration_Status   Phone_Number
0  Fahaheel      Kuwait        Male                 Yes   +96598533916
1   Tripoli     Lebanon      Female                 Yes    +961 848715
2    Riyadh         KSA      Female                 Yes  +966161584432
3    Beirut     Lebanon      Female                 Yes    +961 977226
4     Ajman         UAE        Male                 Yes  +971435222994

[5 rows x 32 columns]

In [160]:
merged_data.duplicated().sum()

0

In [161]:
print(merged_data.isnull().values.any())   #Check if there are null values
merged_data.isnull().sum()

True

CustomerID                          0
CountryCode                         0
CityCode                            0
Gender                              0
Senior Citizen                      0
Partner                             0
Dependents                          0
Tenure Months                       0
Phone Service and Information       0
Multiple Lines                      0
Internet Service                    0
Online Security                     0
Online Backup                       0
Device Protection                   0
Tech Support                        0
Streaming TV                        0
Streaming Movies                    0
Contract                            0
Paperless Billing                   0
Payment Method                      0
Monthly Charges                     0
Total Charges                      11
Churn Label                         0
Churn Value                         0
Churn Score                         0
CLTV                                0
Churn Reason                     5174
CityName                            0
CountryName                         0
GenderStand                         0
Registration_Status                 0
Phone_Number                      682
dtype: int64

##Section 2. 5
Write a query to calculate the average monthly charge for customers across each country.

In [118]:
#Calculating the average monthly charges for each country and grouping by the country
query3 = """
SELECT
    CountryName,
    AVG("Monthly Charges") AS Averga_monthly_charges
FROM merged_data
GROUP BY CountryName
"""
result3 = ps.sqldf(query3, locals())

print(result3)

  CountryName  Averga_monthly_charges
0         KSA               65.068846
1      Kuwait               64.137034
2     Lebanon               64.843820
3       Qatar               64.987990
4         UAE               64.787116

##Section 2. 6
Write a query to find the top 5 customers with the highest and lowest CLTV.

In [124]:
#Top 5 customers with lowest CLTV
query4 = """
SELECT
    CustomerID
FROM merged_data
Order BY CLTV
LIMIT 5
"""
result4 = ps.sqldf(query4, locals())

print(result4)

   CustomerID
0  4925-LMHOK
1  0871-URUWO
2  6860-YRJZP
3  7928-VJYAB
4  0247-SLUJI

In [126]:
#Top 5 customers with highest CLTV
query5 = """
SELECT
    CustomerID
FROM merged_data
Order BY CLTV DESC
LIMIT 5
"""
result5 = ps.sqldf(query5, locals())

print(result5)

   CustomerID
0  7622-FWGEW
1  6024-RUGGH
2  0383-CLDDA
3  2683-JXWQQ
4  8894-JVDCV

##Section 2. 7
Write a query to find how many customers have a monthly charge above 6000.

In [153]:
#the type of the Total CHarges was changed as it was an object
merged_data['Total Charges'] = pd.to_numeric(merged_data['Total Charges'], errors='coerce')
print(merged_data.dtypes)

CustomerID                        object
CountryCode                        int64
CityCode                           int64
Gender                            object
Senior Citizen                    object
Partner                           object
Dependents                        object
Tenure Months                      int64
Phone Service and Information     object
Multiple Lines                    object
Internet Service                  object
Online Security                   object
Online Backup                     object
Device Protection                 object
Tech Support                      object
Streaming TV                      object
Streaming Movies                  object
Contract                          object
Paperless Billing                 object
Payment Method                    object
Monthly Charges                  float64
Total Charges                    float64
Churn Label                       object
Churn Value                        int64
Churn Score                        int64
CLTV                               int64
Churn Reason                      object
CityName                          object
CountryName                       object
GenderStand                       object
Registration_Status               object
Phone_Number                      object
dtype: object

In [159]:
query5 = """
SELECT COUNT(DISTINCT CustomerID) AS Total_Customers
FROM merged_data
WHERE "Total Charges" > 6000
"""
result5 = ps.sqldf(query5, locals())
total_customers = result5['Total_Customers'].iloc[0]

print(f"The customers whose charges are above 6000 are: {total_customers} customers")

The customers whose charges are above 6000 are: 692 customers